h2 A new Rocky instance has been provisioned on OCI
p Hi #{name},
p The VNC password for your new instance 
  b #{instanceName} 
  span is 
  b #{passwd}
  span .
p Connect to your session: 
  a(href=`${url}`) #{instanceName}